.login-page {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70%;

  .login-panel {
    border-radius: 10px 10px 10px 10px;

    .panel-heading {
      border-radius: 10px 10px 0 0;
    }

    .panel-body {
      padding: 25px 20px 0 20px;
    }
  }
}

.error-page {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70%;

  .error-panel {
    padding: 40px 15px;
    text-align: center;

    .error-actions {
      margin-top: 15px;
    }

    .btn {
      border-radius: 50px;
    }

    a {
    }
  }
}
