<div class="row error-page">
  <div class="col-md-4 col-md-offset-4">
    <div class="error-panel">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      Maaf terjadi kesalahan, Permintaan anda tidak ditemukan!
      <div class="error-actions">
        {{#link-to 'login' class='btn btn-primary btn-lg'}}Halaman Utama{{/link-to}}
      </div>
    </div>
  </div>
</div>