<div class="row login-page">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <div class="panel-title" align="center">
          <h4><b>Masuk Akun</b></h4>
        </div>
      </div>
      <div class="panel-body">
        <form action="">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" name='username' placeholder="Nama Pengguna"/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="Kata Sandi"/>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block">Masuk</button>
          </div>
          <div class="form-group text-center">
            <a href="#">Lupa kata sandi</a>&nbsp;|&nbsp;<a href="#">Registrasi</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>